
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

.small-height{
    width: 100%;
    height: 544px;
}
.details{
    background-image: url(/images/Untitled\ design\ \(1\).png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
  
}
